header .container {
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: black;
  text-decoration: none;
}

.pages {
  margin: 0 auto;
  padding: 20px;
}
